@charset "UTF-8";
/* CSS Document */
* { box-sizing: border-box; }

body {
    font-family:Futura, Helvetica, sans-serif;
    background-color: darkcyan;
}
.todo-wrapper {
    background-color: white; 
    color: #000000;
    width: 80%;
    margin: auto;
    min-width: 850px;
    max-width: 1200px;
    padding: 40px;
    border-radius: 10px;
}

#todo-entry-box {

}

.pretty-button {
    background-color: blue;
    color: white;
    border-radius: 20px;
    font-family: Futura;

}

.line {
    display: inline-block;

}

#todo-list {

}

#control-wrapper {

}

#clear-completed-button {

}

#empty-button {

}

#save-button {

}

form {
   
}